<h1>Home</h1>
<ul>
  <li>
    <%= link_to "Sign in with Stable", "/auth/stable" %>
  </li>
  <li>
    <%= link_to 'nerds', nerd_list_path %>
  </li>
  <li>
    <%= link_to 'sign out', sign_out_path, method: :delete %>
  </li>
</ul>


