// vars
$header-font-family: Lato, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$primary-color: $blue;
$secondary-color: $dark;
$alert-color: $pink;
$success-color: $green-neon;


