.app-title {
  text-align: right;
  h1 {
    line-height: 1em;
  }
}

.header {
  height: 100px;
}

.scoreboard-teaser {
  height: 100px;
  position: relative;

  .scoreboard {
    bottom: 0;
    position: absolute;
  }
}
