@import "core/variable_overrides";
@import "foundation/foundation/components/global";
@import "foundation/foundation/components/type";
@import 'core/layouts';

@import 'modules/header';

.blue {
  background: blue;
}

.gravatar {
  display: block;
  margin: 0 auto;
}

.answer-centered {
  text-align: center;
}
